## This is uses for verify encodings

In [1]:
import pandas as pd

In [4]:
PATH_TO_CSV = "../../data/raw/raw_cleaned/final_test.csv"

In [5]:
df = pd.read_csv(PATH_TO_CSV)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 27 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   movie id      100000 non-null  int64
 1   rate          100000 non-null  int64
 2   datetime      100000 non-null  object
 3   age           100000 non-null  object
 4   gender        100000 non-null  int64
 5   occupation    100000 non-null  int64
 6   movie title   100000 non-null  object
 7   Other         100000 non-null  int64
 8   Action        100000 non-null  int64
 9   Adventure     100000 non-null  int64
 10  Animation     100000 non-null  int64
 11  Children's    100000 non-null  int64
 12  Comedy        100000 non-null  int64
 13  Crime         100000 non-null  int64
 14  Documentary   100000 non-null  int64
 15  Drama         100000 non-null  int64
 16  Fantasy       100000 non-null  int64
 17  Film-Noir     100000 non-null  int64
 18  Horror        100000 non-null  int64
 19  Musical       100000 non-null  int64
 20  Mystery       100000 non-null  int64
 21  Romance       100000 non-null  int64
 22  Sci-Fi        100000 non-null  int64
 23  Thriller      100000 non-null  int64
 24  War           100000 non-null  int64
 25  Western       100000 non-null  int64
 26  release_year  100000 non-null  float64
dtypes: float64(1), int64(23), object(3)
memory usage: 20.6+ MB

In [7]:
df.head()

,movie id,rate,datetime,age,gender,occupation,movie title,Other,Action,Adventure,...,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,release_year
0,242,3,1997-12-04 15:55:49,Adult,1,20,Kolya (1996),0,0,0,...,0,0,0,0,0,0,0,0,0,1997.0
1,302,3,1998-04-04 19:22:22,Adult,0,6,L.A. Confidential (1997),0,0,0,...,1,0,0,1,0,0,1,0,0,1997.0
2,377,1,1997-11-07 07:18:36,Adult,1,20,Heavyweights (1994),0,0,0,...,0,0,0,0,0,0,0,0,0,1994.0
3,51,2,1997-11-27 05:02:03,Adult,1,19,Legends of the Fall (1994),0,0,0,...,0,0,0,0,1,0,0,1,1,1994.0
4,346,1,1998-02-02 05:33:16,Adult,1,3,Jackie Brown (1997),0,0,0,...,0,0,0,0,0,0,0,0,0,1997.0